In [29]:
# Package imports
import os 
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [10]:
df = pd.read_excel("/Users/nyanlintun/Desktop/fall2024/public_emdat_project.xlsx")
df

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1999-9388-DJI,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,DJI,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",2006-03-01,2023-09-25
1,1999-9388-SDN,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SDN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",2006-03-08,2023-09-25
2,1999-9388-SOM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",2006-03-08,2023-09-25
3,2000-0001-AGO,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2004-10-27,2023-09-25
4,2000-0002-AGO,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,10000.0,17695.0,56.514291,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",2005-02-03,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15779,2024-9075-COL,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000013,NaN,COL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{""adm1_code"":939,""adm1_name"":""Boyaca""},{""adm1...",2024-02-13,2024-04-10
15780,2024-9131-ZMB,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000018,NaN,ZMB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-12,2024-04-12
15781,2024-9135-MHL,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,MHL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{""adm1_code"":2002,""adm1_name"":""Administrative...",2024-03-13,2024-04-10
15782,2024-9197-MWI,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,MWI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-05,2024-05-14
15783,2024-9197-ZWE,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,ZWE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-05,2024-05-14

In [6]:
df_encode_copy = df.copy()

In [20]:
df_encode_copy["Disaster Type"].value_counts()

Disaster Type
Flood                               4070
Storm                               2575
Road                                2124
Water                               1111
Epidemic                             894
Earthquake                           665
Extreme temperature                  492
Mass movement (wet)                  461
Explosion (Industrial)               458
Air                                  430
Fire (Miscellaneous)                 421
Drought                              408
Wildfire                             306
Rail                                 247
Miscellaneous accident (General)     186
Explosion (Miscellaneous)            159
Collapse (Miscellaneous)             158
Collapse (Industrial)                148
Volcanic activity                    126
Fire (Industrial)                    111
Industrial accident (General)        102
Gas leak                              34
Infestation                           29
Chemical spill                        23
Poisoning                             20
Mass movement (dry)                   13
Oil spill                              5
Glacial lake outburst flood            4
Radiation                              2
Impact                                 1
Animal incident                        1
Name: count, dtype: int64

In [22]:
# Create a dictionary that contains the "translation" from categorical value to numerical value
cat_to_num = {"Disaster Type": 
              {"Flood": 0, 
               "Storm": 1,
               "Road": 2,
               "Water": 3,
               "Epidemic": 4,
               "Earthquake": 5,
               "Extreme temperature": 6,
               "Mass movement (wet)": 7,
               "Explosion (Industrial)": 8,
               "Air": 9,
               "Fire (Miscellaneous)": 10,
               "Drought": 11,
               "Wildfire": 12,
               "Rail": 13,
               "Miscellaneous accident (General)": 14,
               "Explosion (Miscellaneous) ": 15,
               "Collapse (Miscellaneous)": 16,
               "Collapse (Industrial)": 17,
               "Volcanic activity": 18,
               "Fire (Industrial)": 19,
               "Industrial accident (General)": 20,
               "Gas leak": 21,
               "Infestation": 22,
               "Chemical spill": 23,
               "Poisoning": 24,
               "Mass movement (dry)": 25,
               "Oil Spill": 26,
               "Glacial lake outburst flood": 27,
               "Radiation": 28,
               "Impact": 29,
               "Animal incident": 30
               }
            }

In [24]:
# Replace values using df.replace()
df_encode_copy = df_encode_copy.replace(cat_to_num)
df_encode_copy.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1999-9388-DJI,No,nat-cli-dro-dro,Natural,Climatological,11,Drought,NaN,NaN,DJI,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",2006-03-01,2023-09-25
1,1999-9388-SDN,No,nat-cli-dro-dro,Natural,Climatological,11,Drought,NaN,NaN,SDN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",2006-03-08,2023-09-25
2,1999-9388-SOM,No,nat-cli-dro-dro,Natural,Climatological,11,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",2006-03-08,2023-09-25
3,2000-0001-AGO,No,tec-tra-roa-roa,Technological,Transport,2,Road,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2004-10-27,2023-09-25
4,2000-0002-AGO,No,nat-hyd-flo-riv,Natural,Hydrological,0,Riverine flood,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,10000.0,17695.0,56.514291,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",2005-02-03,2023-09-25

In [31]:
# OrdinalEncoding 
ord_encoder = OrdinalEncoder()
df[["Region Code", "Disaster Subgroup Code", "Disaster Type Code"]] = ord_encoder.fit_transform(df[["Region","Disaster Subgroup", "Disaster Type"]])
df[["Region", "Region Code", "Disaster Subgroup", "Disaster Subgroup Code", "Disaster Type", "Disaster Type Code"]].head(10)

,Region,Region Code,Disaster Subgroup,Disaster Subgroup Code,Disaster Type,Disaster Type Code
0,Africa,0.0,Climatological,1.0,Drought,5.0
1,Africa,0.0,Climatological,1.0,Drought,5.0
2,Africa,0.0,Climatological,1.0,Drought,5.0
3,Africa,0.0,Transport,8.0,Road,26.0
4,Africa,0.0,Hydrological,4.0,Flood,13.0
5,Asia,2.0,Meteorological,6.0,Extreme temperature,10.0
6,Americas,1.0,Transport,8.0,Road,26.0
7,Asia,2.0,Transport,8.0,Road,26.0
8,Asia,2.0,Miscellaneous accident,7.0,Fire (Miscellaneous),12.0
9,Africa,0.0,Transport,8.0,Road,26.0

In [33]:
# OneHotEncoding 
onehot_encode_copy = df.copy()
onehot_encoder = OneHotEncoder()
onehot_results = onehot_encoder.fit_transform(onehot_encode_copy[["Region", "Disaster Subgroup", "Disaster Type"]])

onehot_df = pd.DataFrame(onehot_results.toarray(), columns=onehot_encoder.get_feature_names_out())

In [35]:
onehot_df

,Region_Africa,Region_Americas,Region_Asia,Region_Europe,Region_Oceania,Disaster Subgroup_Biological,Disaster Subgroup_Climatological,Disaster Subgroup_Extra-terrestrial,Disaster Subgroup_Geophysical,Disaster Subgroup_Hydrological,...,Disaster Type_Miscellaneous accident (General),Disaster Type_Oil spill,Disaster Type_Poisoning,Disaster Type_Radiation,Disaster Type_Rail,Disaster Type_Road,Disaster Type_Storm,Disaster Type_Volcanic activity,Disaster Type_Water,Disaster Type_Wildfire
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15779,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15780,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15781,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15782,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15783,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0